footer {
 background-image: url('https://i.ibb.co/DgKB1zs/footer.gif');
 

 height: 100px;


background-size: cover;   -ms-background-size: cover;   -o-background-size: cover;   -moz-background-size: cover;   -webkit-background-size: cover;

}