
.d-block w-100{
    animation-timing-function: 5s infinite;
   
}

.carousel img{
width: 731px;
    height: 270px;
    border-radius: 20px; 
}
.jumbotron {
    width: 15cm;
    margin-left: 15cm;
    margin-top: -5cm;
}